<ion-header>
  <ion-toolbar>
    <ion-back-button text="" slot="start" fill="clear" size="small" color="light"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-back-button text="" slot="start" fill="clear" size="small" color="light"></ion-back-button>
  <div class="main">
    <div class="b1" (click)="openS1()">
      <img src="../../../assets/button.png" alt="botão">
      Iniciar conciliação
    </div>
    <div class="b2" (click)="openS2()">
      <img src="../../../assets/button.png" alt="botão">
      Acompanhamento
    </div>
  </div>
</ion-content>
