<ion-header>
  <ion-toolbar>
    <ion-back-button text="" slot="start" fill="clear" size="small" color="light"></ion-back-button>
    <ion-title>Acompanhamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="all">

  <div class="ball">
  </div>
  <ion-label>Reunião 1</ion-label>
</div>
<div class="line">
</div>
  <div class="espec">
    <p> Acolhida e apresentação do contexto familiar.<br>
    Nossa equipe irá entrar em contato com você para compreender melhor o que você precisa.</p>
  </div>

</ion-content>
