<ion-header>
  <ion-toolbar>
    <ion-back-button text="" slot="start" fill="clear" size="small"></ion-back-button>
    <ion-title>Sobre nós</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <ion-img src="../../../assets/concilia.png"></ion-img>
  </div>
<h3>
  O diálogo na solução de conflitos é sempre a melhor saída. O CONCILIA é uma plataforma de mediação e conciliação extrajudiciais que visa promover a harmonia em decisões que impactam a vida de crianças e adolescentes. Nós ajudamos a promover o consenso entre genitores ou responsáveis dos alimentandos para resolução de conflitos que envolvam pensão alimentícia, guarda e direito de visita.  
</h3>
</ion-content>
