<ion-header [translucent]="true" no-shadow no-border>
  <ion-toolbar no-shadow no-border>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">Quanto você ganha</ion-label>
      <ion-input type="number" [(ngModel)]="sal1">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quanto o outro genitor</ion-label>
      <ion-input type="number" [(ngModel)]="sal2">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">De quanto são os gastos da criança</ion-label>
      <ion-input type="number" [(ngModel)]="kid">
      </ion-input>
    </ion-item>
  </ion-list>
  <div class="res">
    <ion-button (click)="calc()">
      Calcular pensão
    </ion-button>
    <h1 id="result">{{r}}</h1>
  </div>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
<ion-footer>
  <ion-button fill="outline" (click)="leave()">Sair do aplicativo</ion-button>
</ion-footer>
